<style>
#header{	
	height: 223px;
	background: #25b33f;
	margin-bottom: 10px;
}
#prod1{
	height: 280px;
	background-color: #2ff553;
	margin-bottom: 1px;
	padding-bottom: 1px;

}
#prod2{
	height: 280px;
	background-color: #25b33f;
	margin-bottom: 1px;
	padding-bottom: 1px;

}
#prod3{
	height: 280px;
	background-color: #9ef7af;
	margin-bottom: 1px;
	padding-bottom: 1px;

}
#prod4{
	height: 280px;
	background-color: #2ff553;
	margin-bottom: 1px;
	padding-bottom: 1px;

}
#prod5{
	height: 280px;
	background-color: #25b33f;
	margin-bottom: 1px;
	padding-bottom: 1px;

}
#prod6{
	height: 280px;
	background-color: #2ff553;
	margin-bottom: 1px;
	padding-bottom: 1px;

}
#content{
	height: 60px;
	margin-bottom: 1px;

}
#footer{
	height: 80px;
	background: #41874e;
	margin-bottom: 10px;

}
</style>